<div class="container" >
	<div class="header" ng-hide="showAddEditRestaurant">
		<div class="button">
		  <button type="button" class="btn btn-success" ng-click="show()">
		    Novo Restaurante
		  </button>
		 </div>
		 <div class="search">
		  	<form class="form-inline my-2 my-lg-0" ng-submit="searchRestaurant(name)">
		      <input class="form-control mr-sm-2" type="search" ng-model="name"
		      		placeholder="Buscar Restaurante" aria-label="Search">
		      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
		    </form>
		 </div>
	</div>


	<div class="form">
	  <form ng-submit="saveRestaurant(restaurant)" ng-hide="!showAddEditRestaurant">
		  <h2>Restaurante</h2>
		  <div class="form-group row">
		    <label for="staticEmail" class="col-sm-3 col-form-label">Nome:</label>
		    <div class="col-sm-9">
		      <input type="text" class="form-control" placeholder="Nome" ng-model="restaurant.name">
		    </div>
		  </div>
		  <div class="form-group row">
		    <label for="inputPassword" class="col-sm-3 col-form-label">Endere&ccedilo:</label>
		    <div class="col-sm-9">
		      <input type="text" class="form-control" placeholder="Endere&ccedil;o" ng-model="restaurant.address">
		    </div>
		  </div>
		    <div class="form-group row">
		    <label for="inputPassword" class="col-sm-3 col-form-label">Telefone:</label>
		    <div class="col-sm-6">
		      <input type="text" class="form-control" placeholder="Telefone" ng-model="restaurant.telephone">
		    </div>
		  </div>
		    <button type="submit" class="btn btn-success">Salvar</button>
		    <button type="button" ng-click="hide()" class="btn btn-danger">Cancelar</button>
		</form>	
	</div>
	
	<div ng-show="searchShow">
	    <table class="table table-striped" style="margin-top: 1em;">
		  <thead>
		    <tr>
		      <th scope="col">Nome</th>
		      <th scope="col">Telefone</th>
		      <th scope="col">Endere&ccedilo</th>
		      <th scope="col" ng-if="hasAnyPermission(['ROLE_ADMIN'])">Editar</th>
		      <th scope="col" ng-if="hasAnyPermission(['ROLE_ADMIN'])">Deletar</th>
		    </tr>
	 	  </thead>
	      <tbody>
	        <tr>
	          <td>{{ findNm.name }}</td>
	          <td>{{ findNm.telephone }}</td>
	          <td>{{ findNm.address }}</td>
	          <td ng-if="hasAnyPermission(['ROLE_ADMIN'])"><button type="button" class="btn btn-primary" ng-click="editRestaurant(findNm)">Editar</button></td>
	          <td ng-if="hasAnyPermission(['ROLE_ADMIN'])"><button type="button" class="btn btn-danger" ng-click="deleteRestaurant(findNm)">Deletar</button></td>
	        </tr>
	      </tbody>
		</table>
	</div>
    
    <table class="table table-striped" style="margin-top: 1em;">
	  <thead>
	    <tr>
	      <th scope="col">Nome</th>
	      <th scope="col">Telefone</th>
	      <th scope="col">Endere&ccedilo</th>
	      <th scope="col" ng-if="hasAnyPermission(['ROLE_ADMIN'])">Editar</th>
	      <th scope="col" ng-if="hasAnyPermission(['ROLE_ADMIN'])">Deletar</th>
	    </tr>
 	  </thead>
      <tbody>
        <tr ng-repeat="restaurant in restaurants">
          <td>{{ restaurant.name }}</td>
          <td>{{ restaurant.telephone }}</td>
          <td>{{ restaurant.address }}</td>
          <td ng-if="hasAnyPermission(['ROLE_ADMIN'])"><button type="button" class="btn btn-primary" ng-click="editRestaurant(restaurant)">Editar</button></td>
          <td ng-if="hasAnyPermission(['ROLE_ADMIN'])"><button type="button" class="btn btn-danger" ng-click="deleteRestaurant(restaurant)">Deletar</button></td>
        </tr>
      </tbody>
	</table>
</div>

<style>
	.header {
		margin-top: 1em;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}
	
	.botton {
		display: flex;
		flex-direction: column;
		
	}
	
	.search {
		display: flex;
		flex-direction: column;
	}
	
	.form {
		margin-top: 1em;
		display: flex;
		flex-direction: row;
		justify-content: center;
	}
</style>