<div class="container" >
	<div class="header" ng-hide="showAddEditDish">
		<div class="botton">
		  <button type="button" class="btn btn-success" ng-click="show()">
		    Novo Prato
		  </button>
		</div>
		 <div class="search">
		  	<form class="form-inline my-2 my-lg-0" ng-submit="searchDish(name)">
		      <input class="form-control mr-sm-2" type="search" ng-model="name"
		      		placeholder="Buscar Prato" aria-label="Search">
		      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
		    </form>
		 </div>
	</div>

	<div class="form">
	  <form ng-submit="saveDish(dish)" ng-submit="dish" ng-hide="!showAddEditDish" style="width: 500px;">
		  <h2>Pratos</h2>
		  <div class="form-group row">
		    <label for="staticEmail" class="col-sm-3 col-form-label">Nome:</label>
		    <div class="col-sm-9">
		      <input type="text" class="form-control" placeholder="Nome" ng-model="dish.name">
		    </div>
		  </div>
		  <div class="form-group row">
		    <label for="inputPassword" class="col-sm-3 col-form-label">Pre&ccedil;o:</label>
		    <div class="col-sm-9">
		      <input type="text" class="form-control" placeholder="Pre&ccedil;o" ng-model="dish.price">
		    </div>
		  </div>
		  <div class="form-group row">
		    <label for="inputPassword" class="col-sm-3 col-form-label">Restaurante:</label>
		    <div class="col-sm-7">
			    <select ng-model="selectedDevice" class="browser-default custom-select"
			    	 ng-change="showSelectValue(selectedDevice)"">
			      <option></option>
			      <option ng-repeat="i in restaurants" value="{{ i.id }}" ng-selelected="{{ selectedDevice.name == i.name }}"> {{ i.name }}</option>
			    </select>
		    </div>
		  </div>
		    <button type="submit" class="btn btn-success">Salvar</button>
		    <button type="button" ng-click="hide()" class="btn btn-danger">Cancelar</button>
		</form>	
	</div>
	
	<div ng-show="searchShow" class="form">
	    <table class="table table-striped" style="margin-top: 1em;">
		  <thead>
		    <tr>
		      <th scope="col">Nome</th>
		      <th scope="col">Pre&ccedilo</th>
		      <th scope="col">Editar</th>
		      <th scope="col">Deletar</th>
		    </tr>
		  </thead>
	      <tbody>
	        <tr>
	          <td>{{ findNm.name }}</td>
	          <td>{{ findNm.price }}</td>
	          <td><button type="button" class="btn btn-primary" ng-click="editDish(findNm)">Editar</button></td>
	          <td><button type="button" class="btn btn-danger" ng-click="deleteDish(findNm)">Deletar</button></td>
	        </tr>
	      </tbody>
		</table>
	
	</div> 

	<div class="form">
	    <table class="table table-striped" style="margin-top: 1em;">
		  <thead>
		    <tr>
		      <th scope="col">Nome</th>
		      <th scope="col">Pre&ccedilo</th>
		      <th scope="col">Editar</th>
		      <th scope="col">Deletar</th>
		    </tr>
		  </thead>
	      <tbody>
	        <tr ng-repeat="dish in plates">
	          <td>{{ dish.name }}</td>
	          <td>{{ dish.price }}</td>
	          <td><button type="button" class="btn btn-primary" ng-click="editDish(dish)">Editar</button></td>
	          <td><button type="button" class="btn btn-danger" ng-click="deleteDish(dish)">Deletar</button></td>
	        </tr>
	      </tbody>
		</table>
	
	</div>    

</div>

<style>
	.header {
		margin-top: 1em;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}
	
	.botton {
		display: flex;
		flex-direction: column;
		
	}
	
	.search {
		display: flex;
		flex-direction: column;
	}
	.form {
		margin-top: 1em;
		display: flex;
		flex-direction: row;
		justify-content: center;
	}
	#buscaRestaurante {
		font-size: 11px;
	}
</style>