
<div class="container">
	<div class="jumbotron">
		<div class="content">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-10">
						<div class="card">
							<div class="card-header" data-background-color="#696969">
								<h4 class="title">Usuario</h4>
							</div>

								<div>
								<table>
						
									<tbody>
									<tr ng-repeat="user in users">
										<td>{{user.name}}</td>
										<td>
											<div ng-repeat="user in users">
												{{ user.permission[0].role | formatPermission}}
											</div>
										</td>
										<td><button ng-click="editUser(user)">Edit</button></td>
										<td><button ng-click="deleteUser(user)">Delete</button></td>
									</tr>
									</tbody>
								</table>
							</div>

						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
	
</div>
