<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand">Food</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#!/home">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#!/restaurant">Restaurantes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#!/dish">Pratos</a>
      </li>

    </ul>
    
    <div style="padding: .5em; margin-left: 1em;"><a class="navbar-brand" ng-click="logout()">Sair</a></div>
  </div>
</nav>